body{
    display: flex;
    flex-flow: row wrap;
    color: white;
}
div{
    width: 100%;
    height: 150px;
}
img{
    width: 100%;
    height: 100%;
}
.c1{

    /*background-color: darkblue;*/
}
.c2{
    background-color: blue;
}
.c3{
    background-color: dodgerblue;
}
.c4{
    background-color: deepskyblue;
}
.c5{
    background-color: lightskyblue;
}
.c6{
    background-color: lightblue;
}
.c7{
    background-color: lightsteelblue;
}