div{
    width: 400px;
    height:200px;
    border-radius: 50px;
    background-image: url("../../../html-css-bootcamp/000_img/surf.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}